@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: auto;
}
.sero{
  color:rgb(126, 213, 111);
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  
}



@media screen and (max-width: 786px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }
}
